
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1537930385926-b88db6f104a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  top: 0;
  margin: 0;
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
body {
font-family: sans-serif;
background-color: rgb(235, 230, 230);
}

#main {
  margin: 25px;
}

h1 {
  padding: 25px;
  text-align:center;
  font-size: 44px;
  color: white;
  opacity: .9;
}

p {
  font-size: 20px;
  margin: 5px;
}

.img img {
  width: 200px;
  margin: 10px;
  border-radius: 2px;
}

#main {
  display: flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  flex-direction:column;
  padding:25px;
}

.keys {
display: flex;
align-items: center;
justify-content: space-between;
margin: 25px;
}

.key {
border: 2px solid black;
border-radius: 1px;
margin: 5px;
font-size: 14px;
padding: 5px;
transition: all .07s ease;
width: 125px;
text-align: center;
color: white;
background: rgba(255, 0, 0, 0.623);
text-shadow: 0 0 5px black;
}

.key:hover {
  cursor:pointer;
  color:rgb(61, 138, 79);

}

.playing {
transform: scale(1.1);
border-color: #ffc600;
box-shadow: 0 0 2px #ffc600;
}

.vid {
  margin:20px;
}

kbd {
display: block;
font-size: 40px;
}

.sound {
font-size: 1.2rem;
text-transform: uppercase;
letter-spacing: .1rem;
color: #ffc600;
}